@{
    ViewData["Title"] = "Home Page";
}

<main class="container text-center d-flex flex-column vh-100 justify-content-start">
    <h4 class="display-2 mb-3">Bienvenidos</h4>
    <p class="font-monospace">Aqui podra gestionar sus cuentas, al igual 
               que realizar acciones" 
    </p>
    <div class="row">
        <article class="col-12 col-md-6">
            <div class="border border-3 border-primary rounded rounded-3 py-5">
                <h4 class="my-4 display-4">Cree sus cuentas</h4>
                <ul class="list-unstyled">
                    <li> Efectivo</li>
                    <li> Credito</li>
                    <li>Prestamo</li>
                </ul>
            </div>

        </article>

        <article class="col-12 col-md-6">
            <div class="border border-3 border-primary rounded rounded-3 py-5">
               <h4 class="my-4 display-4">Realice Transacciones</h4>
               <ul class="list-unstyled">
                   <li> Deposito</li>
                   <li>Retiro</li>
                   <li>Transaccion</li>
               </ul>
            </div>
    
        </article>
    </div>

</main>
