@{
    ViewData["Title"] = "Privacy Policy";
}
<mian class="container text-center d-flex flex-column vh-100 justify-content-start">
    <div class="row">
        <div class="row">
            <div class="card col-md-6" style="width:"18rem;">
                
                    <img src="https://picsum.photos/200/00" class="card-img-top"/>
                    <div class="card-body">
                        <h3 class="card-title">Cuentas</h3>
                        <p class="card-text">Tener una cuenta te permite tener mejor movilidad con tu dinero</p>
                        <a class="btn btn-primary">Mas informacion</a>
                    </div>
                
            </div>
            <div class="card col-md-6" style="width:18 rem;">
                <div class="border border-3">
                    <img src="https://picsum.photos/200/200" class="card-img-top"/>
                    <div class="card-body">
                        <h3 class=card-title>Realice Operaciones</h3>
                        <p class="card-text">Realices operaciones facilmente desde aqui</p>
                        <a class="btn btn-primary">Mas informacion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mian>
